<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=com.intuit.karate"/>
        <listEntry value="archetypeArtifactId=karate-archetype"/>
        <listEntry value="archetypeVersion=1.4.1"/>
        <listEntry value="groupId=com.api.automation"/>
        <listEntry value="artifactId=KarateProject1"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.api.automation.KarateProject1"/>
        <listEntry value="outputDirectory=C:\Users\acer\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\acer\AppData\Local\Temp\m2e-archetypeGenerator8710447498847493360"/>
</launchConfiguration>
